@font-face {
  font-family: 'Custom-font';
  src: url('../src/assets/fonts/FugazOne-Regular\ \(1\).ttf') format('truetype'); /* Assicurati di specificare il percorso corretto al tuo file del font */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #212121;
}



